.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 70px;
  }
  
.lower {
    margin-top: 30px;
    padding: 15px;
}

.settings {
    margin-top: 40px;
}

.margin-top {
    margin-top: 30px;
}

.margin-top-10 {
    margin-top: 10px;
}

.centerText {
    text-align: center;
}

.settings-admin {
    margin-top: 40px;
}

.max-width-80 {
    max-width: 80px;
}
.h-auto {
    margin-top: auto;
    margin-bottom: auto;
    text-align: end;
}

.h-auto-text-center {
    margin-top: auto;
    margin-bottom: auto;
    /* text-align: center; */
    margin-left: 15px;
}

.margLeft {
    margin-left: 4px;
}
.login {
    margin: auto;
    margin-top: 25px;
}

@media screen and (max-width: 1366px){
    .text-wrap {
      font-size : 22px;
    }
 }

@media screen and (max-width: 980px){
    .text-wrap {
      font-size : 18px;
    }
 }

@media screen and (max-width: 420px){
    .text-wrap {
      font-size : 14px;
    }
 }
 
 @media screen and (max-width: 320px){
    .text-wrap {
      font-size : 10px;
    }
 }

 .toggle-on.btn:hover, .toggle-off.btn:hover {
    background-color: gray !important;
 }

 